@media screen and (max-width: 920px){
    #top h1 {
        font-size: 4rem;
    }
    #top .section p {
        font-size: 1.2rem;
    }
    #mid .section p, #mid-next .section p, #mid-next-after .section p, #bottom .section p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 800px){
    #top .section p {
        font-size: 1.1rem;
    }
    #mid .section p, #mid-next .section p, #mid-next-after .section p, #bottom .section p {
        font-size: .9rem;
    }
    #mid-next-after .section {
        max-width: 90%;
    }
}
@media screen and (max-width: 650px){
    #top .section p {
        font-size: 1rem;
    }
    .portfolio-item {
        width: 100%;
        margin: 7px 2rem;
        margin-left: 0;
    }
    .portfolio-item p {
        font-size: .8rem;
    }
    #top .section, #mid .section, #mid-next .section, #mid-next-after .section {
        max-width: 80%;
        padding: 2rem 1rem;
    }
    #mid-next .section {
        max-width: 92%;
    }
    #mid, #mid-next {
        padding-top: 11vh;
    }
    #mid-next-after {
        padding-top: 4vh;
    }
    .collapser {
        margin: 2rem 1rem;
    }
    .img {
        position: relative;
        margin: 0 auto;
        display: inline-block;
        max-width: 400px;
        cursor: pointer;
        width: 90%;
        height: 220px;
        margin-left: 5vw;
    }
    .img:hover {
        width: 100%;
        max-width: 340px;
        max-height: 430px;
    }
    .img-h {
        display: none;
    }
    #loading {
        font-size: 1rem;
    }
    #mid .section p, #mid-next .section p, #mid-next-after .section p, #bottom .section p {
        font-size: .8rem;
    }
}
