@media screen and (max-width: 920px) {
    .portfolio-item {
        width: 30% !important;
        font-size: .8rem !important;
    }
}
@media screen and (max-width: 782px) {
    .portfolio-item {
        font-size: .7rem !important;
    }
    .portfolio-item-image {
        height: 150px;
        margin-top: .5rem;
    }
}
@media screen and (max-width: 692px) {
    .portfolio-item-image {
        height: 120px;
    }
}
@media screen and (max-width: 634px) {
    .portfolio-item {
        width: 45% !important;
    }
    .portfolio-item-image {
        height: 110px;
    }
}
@media screen and (max-width: 430px) {
    #container {
        padding: 1rem;
    }
    h2 {
        font-size: 1rem;
    }
    .portfolio-item {
        width: 100% !important;
        font-size: .8rem !important;
        margin: .5rem 0;
    }
    .portfolio-item-image {
        height: 150px;
        margin-top: .1rem;
    }
}
@media screen and (max-width: 294px) {
    .portfolio-item {
        width: 100% !important;
        font-size: .7rem !important;
    }
    .portfolio-item-image {
        height: 150px;
        margin-top: 1rem;
    }
}